build --copt=-DBOOST_USE_ASAN
build --copt=-DBOOST_USE_UCONTEXT
build --copt=-Wno-attributes
build --copt=-Wno-unknown-pragmas
build --copt=-Wno-unused-label
build --incompatible_strict_action_env

build:asan --compilation_mode=dbg
build:asan --copt -fsanitize=address
build:asan --linkopt -fsanitize=address
build:asan --strip=never

build:release --compilation_mode=opt
build:release --copt=-Os
build:release --copt=-flto=thin
build:release --linkopt=-Os
build:release --linkopt=-flto=thin
build:release --strip=always
