build --copt=-Wno-attributes
build --copt=-Wno-unknown-pragmas
build --copt=-Wno-unused-label
build --copt=-Werror
build --incompatible_autoload_externally=+@rules_python,+@rules_shell
build --incompatible_disallow_empty_glob=False
build --incompatible_strict_action_env

build:asan --compilation_mode=dbg
build:asan --copt -fsanitize=address
build:asan --linkopt -fsanitize=address
build:asan --strip=never

build:release --compilation_mode=opt
build:release --copt=-Os
build:release --copt=-flto=thin
build:release --linkopt=-Os
build:release --linkopt=-flto=thin
build:release --strip=always
