*.jou
*.log
*.out
*.pyc
.venv*
/.cache/
/.cmake-format
/.vscode
/bazel-*
/build/
/compile_commands.json
__pycache__
a.out
artifacts.out/
device_config.json
floorplan_config.json
impl_config.json
node_modules
run/
work.xo
