name: install

on:
  - page_build
  - workflow_dispatch

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu:20.04
          - ubuntu:22.04

    steps:
      - name: Checkout myself
        uses: actions/checkout@v1
      - name: Install from script
        run: ./install.sh
